<div *ngIf="loading">
  <app-hint-loading>Das Quiz wird geladen.</app-hint-loading>
</div>
<div *ngIf="!loading">
  <div *ngIf="error">
    <app-hint icon="bug_report">Es ist ein Fehler aufgetreten.</app-hint>
  </div>
  <div class="container" *ngIf="!error">
    <div class="question-box" *ngIf="currentQuestion?.id">
      <div class="progress">
        <div class="number">Frage {{currentIndex+1}}/{{quiz.questions?.length}}</div>
      </div>
      <div class="question">{{currentQuestion?.text}}</div>
      <div *ngIf="currentQuestion?.type==0">
        <!-- SINGLE CHOICE -->
        <mat-radio-group class="example-radio-group" (change)="onSingleAnswerChanged($event)">
          <mat-radio-button class="example-radio-button" [checked]="isSelected(a?.id)" *ngFor="let a of currentQuestion?.answers"
            [value]="a">
            {{a?.text}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="check-wrapper" *ngIf="currentQuestion?.type==1">
        <!-- MULTI CHOICE -->
        <mat-checkbox *ngFor="let a of currentQuestion?.answers" [checked]="isSelected(a?.id)" (change)="onMultiAnsweredChanged($event,a)">{{a?.text}}</mat-checkbox>
      </div>
      <div class="actions">
        <button mat-button (click)="onPrev()" [disabled]="history.length == 0">
          <mat-icon>arrow_back_ios</mat-icon>Zurück
        </button>
        <button mat-button mat-raised-button color="primary" (click)="onNext()" [disabled]="selectedAnswered.length == 0">{{caption}}<mat-icon>arrow_forward_ios</mat-icon></button>
      </div>
    </div>
  </div>
</div>
