.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.question-box {
  width: 100%;
  max-width: 700px;
  padding: 20px;
}

.question {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.check-wrapper {
  display: flex;
  flex-direction: column;
}

.progress {

  .number {
    color: gray;
    font-style: italic;
  }
}
