.quiz-list {
  padding: 10px;
  display: grid;
  column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr;

  mat-card {
    max-width: 600px;
  }
}

@media screen and (orientation:portrait) {
  .quiz-list {
    grid-template-columns: 1fr;
  }
}
