<div class="quiz-list">
  <mat-card *ngFor="let quiz of quizzes">
    <mat-card-title>{{quiz.title}}</mat-card-title>
    <img mat-card-image [src]="getImageSrc(quiz.imageId)">
    <mat-card-actions>
      <button mat-button mat-raised-button color="primary" (click)="openQuiz(quiz)">Starten</button>
    </mat-card-actions>
  </mat-card>
</div>
