mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 40vw;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3f51b5;
  height: 64px;
  padding: 0px 16px;

  .title {
    color: white;
    font-size: 20px;
  }

  mat-icon {
    color: white;
  }
}

@media screen and (orientation:portrait) {
  mat-sidenav {
    width: 70vw;
  }

  .header {
    height: 56px;
  }
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 16px;

  .name {
    font-size: 1.3em;
  }

  .points {
    display: flex;
    align-items: center;
    font-size: 1.3em;

    mat-icon {
      margin-left: 5px;
    }
  }
}

.triangle-c {
  display: flex;
  justify-content: flex-end;

  .triangle {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #dddddd;
    width: 0;
    height: 0;
    margin-right: 35px;
  }
}

.btns {
  button {
    width: 100%;
    border-radius: 0;
    margin-top: 5px;
  }
}
