<mat-sidenav-container class="example-container" (backdropClick)="close()">
  <mat-sidenav #sidenav (keydown.escape)="close()" disableClose>
    <div class="header">
      <div class="title">Menu</div>
      <div><button (click)="close()" mat-button mat-icon-button>
          <mat-icon>close</mat-icon>
        </button></div>
    </div>
    <div class="user">
      <div class="name">{{user?.vorname+' '+user?.nachname}}</div>
      <div class="points">{{user?.points}}<mat-icon>monetization_on</mat-icon>
      </div>
    </div>
    <div class="triangle-c">
      <div class="triangle"></div>
    </div>
    <app-hint *ngIf="user?.points==0">Du hast noch keine Punkte. Beantworte ein Quiz, um Punkte zu erhalten.</app-hint>
    <div class="btns">
      <button mat-button mat-raised-button color="primary" (click)="onDashboard()">Startseite</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-button mat-icon-button (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Quiz</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
