:host {
  padding: 5px;
  background-color: #dddddd;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  div {
    padding-top: 3px;
  }

  mat-icon {
    margin-right: 5px;
  }
}
