:host {
  display: flex;
  justify-content: center;
}

.punkte {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;

  mat-icon {
    margin-right: 6px;
  }

  .p {
    font-weight: bold;
    font-size: 2em;
  }

  .c {
    margin-left: 8px;
    font-size: 1.4em;
  }
}

.fragen {
  font-size: 1.1em;
}

.right {
  display: block;
  width: 100%;
  max-width: 600px;
}

.actions {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
