<app-hint-loading *ngIf="loading">Das Ergebnis wird geladen.</app-hint-loading>
<div *ngIf="!loading">
  <div class="right" *ngIf="!error">
    <div class="punkte">
      <mat-icon>add</mat-icon>
      <div class="p">{{punkte|number:'0.0-0'}}</div>
      <div class="c">Punkte</div>
    </div>
    <div class="fragen">
      Du hast {{fragen}} Fragen richtig beantwortet.
    </div>
    <div class="actions">
      <button mat-button mat-raised-button color="primary" (click)="onDashboard()">Startseite</button>
    </div>
  </div>
  <div *ngIf="error">
    <app-hint icon="report_problem">Es ist ein Fehler aufgetreten.</app-hint>
    <div>Wenn du dieser App die Benachrichtigungen erlaubst, dann geben wir dir Bescheid, sobald das Ergebnis vorhanden
      ist.</div>
  </div>
</div>
