<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput formControlName="username" placeholder="Nutzername" autocomplete="off">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="password" type="password" placeholder="Passwort" autocomplete="off">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-raised-button color="primary">Anmelden</button>
    </mat-card-actions>
  </mat-card>
</form>
